<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>landingPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>controller.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterList</servlet-name>
        <servlet-class>controller.SemesterList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSemester</servlet-name>
        <servlet-class>controller.AddSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssignment</servlet-name>
        <servlet-class>controller.subjectmanager.AddAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSubjectSetting</servlet-name>
        <servlet-class>controller.subjectmanager.updateSubjectSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectSetting</servlet-name>
        <servlet-class>controller.subjectmanager.AddSubjectSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClass</servlet-name>
        <servlet-class>controller.subjectmanager.UpdateClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>controller.VerifyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassManager</servlet-name>
        <servlet-class>controller.classmanager.ClassManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>controller.classmanager.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassSetting</servlet-name>
        <servlet-class>controller.classmanager.AddClassSetting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterList</servlet-name>
        <url-pattern>/SemesterList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSemester</servlet-name>
        <url-pattern>/AddSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssignment</servlet-name>
        <url-pattern>/addAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSubjectSetting</servlet-name>
        <url-pattern>/updateSubjectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectSetting</servlet-name>
        <url-pattern>/AddSubjectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClass</servlet-name>
        <url-pattern>/UpdateClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/VerifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassManager</servlet-name>
        <url-pattern>/ClassManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/AddProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassSetting</servlet-name>
        <url-pattern>/AddClassSetting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
